@font-face {
    font-family: "TANGOSANS";
    src: url("font/TangoSans.ttf");
}
body{
    font-family: "TANGOSANS",sans-serif;
    background-color:#ffffff ;
}
div#all div{
    filter: drop-shadow(2px 2px 3px #838383);
    display: inline-block;
    width: 45%;
    
    
}

div#all h1.titre_projet{
    color: aqua;
    position: relative;
    font-size: 300%;
    left: 10%;
}

div#projet_content div{

    background-color: #f0f0f0;
    margin-left: 7%;
    margin-top: 7%;
    width: 90%;
    vertical-align: top;
    padding-bottom: 50%;
    border-radius: 15%;
    transition: 0.7s;
}

div#projet_content div:hover{
    
    background-color:#e4e4e4 ;
    margin-left: 4%;
    margin-top: 7%;
    width: 100%;
    vertical-align: top;
    padding-bottom: 55%;
    border-radius: 15%;
    transition: 0.7s;

}


div#cv_content{
    
    background-color: #f0f0f0;
    margin-left: 50%;
    margin-top: 3%;
    border-radius: 10%;
    
    padding-bottom: 40%;
    
    
    position:fixed;
    transition: 0.7s;
}
div#cv_content:hover{
    background-color:#e4e4e4 ;
    margin-left: 47%;
    margin-top: 3%;
    border-radius: 10%;
    width: 50%;
    height: auto;
    position:fixed;
    transition: 0.7s;
    

}
div#all h1.titre_cv{
    color: aqua;
    margin-left: 10%;
}

@media screen and (max-width : 1000px){
    div#all div{
        width: 80%;
    }
    div#cv_content{
        margin-left: 10%;
        

        position: relative;
    }
    div#cv_content:hover{
        margin-left: 6%;
        width: 88%;
        position: relative;
    }
    div#projet_content{
       
        margin-left: 5%;
    }

    div#projet_content:hover{
       
        margin-left: 5%;
    }
   
    
}
